$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import 'dialog';

.notes {
  --base: 255,153,0;
  --accent: 13,199,219;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row; //-reverse;
  color: unquote('rgb(var(--base))');
  background: #fff;
  font-size: calc(1vmin + .5em);
}

main {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: auto;
  transition: 350ms ease-out;
  box-shadow: 0 0 1.6em -.5em #555;
}
aside {
  position: relative;
  flex: none;
  width: 20em;
  display: flex;
  flex-direction: column;
  color: unquote('rgb(var(--base))');
  background: rgba(150,150,150,.1);
  transition: 350ms ease-out;
  footer {
    flex: none;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  ul {
    flex: 0 1 auto;
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    font-size: .8em;
    padding: 1em;
    margin: 0;
    line-height: 1.4;
    cursor: pointer;
    color: #737373;
    box-shadow:
      0 -1px 0 0 rgba(0,0,0,.1) inset,
      0 1px 0 0 rgba(0,0,0,.1) inset;
    &:hover {
      background: unquote('rgba(var(--accent), .15)');
    }
    &.active {
      color: #fff;
      background: unquote('rgb(var(--accent))');
      .note-title {
        color: inherit;
      }
    }
  }
  .note-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: unquote('rgb(var(--accent))');
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .x {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    svg {
      width: 100%;
      height: auto;
      fill: rgba(#fff, .5);
    }
    &:hover {
      background: #fff;
      svg {
        fill: unquote('rgb(var(--accent))');
      }
    }
  }
  .note-preview {
    font-size: .8em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
button {
  font-size: inherit;
  background: #eee;
  color: #777;
  border: 1px solid #ddd;
  border-radius: .2em;
  + button {
    margin-left: 2em;
  }
}


input.note-title {
  font-size: 1.3em;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid;
  margin: 0;
  line-height: 1.5;
  padding: 1rem;
  outline: none;
  color: inherit;
  &:focus {
    background: unquote('rgba(var(--accent), .1)');
    color: unquote('rgb(var(--accent))');
  }
}
.note-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: rgb(33,33,35);
}

.CodeMirror {
  flex: 1;
  min-height: 3em;
  border: 0;
  padding: 1rem;
  color: inherit;
  background: #fff;
  pre {
    padding: .5rem 0;
    line-height: 1;
    font-size: .8em;
    font-family: monospace;
    &.CodeMirror-placeholder {
      position: absolute;
      height: auto;
      top: 0;
      left: 0;
    }
  }
}
.cm-header {
  font-weight: 300
}

.editor-preview,
.editor-preview-side {
  background: #212326;
  color: #eee;
  a {
    color: unquote('rgb(var(--accent))');
  }
  li {
    margin-top: .5em;
  }
  li.todo-item {
    margin-left: -1.5em;
    .todo-undone {color: inherit;}
    .todo-done {color: #63bd66;}
    .todo-started {color: #17b5fa;}
    .todo-blocked {color: #ff703b;}
  }
  pre {
    background: rgba(125,125,125, .3);
  }
}

.editor-toolbar {
  font-size: .8em;
  border: 0;
  padding: .2em;
  background: rgba(150,150,150,.15);
  border-radius: 0;
  &.fullscreen {
    background: #eee;
    &::before,
    &::after {
      display: none;
    }
  }
  a {
    width: 2em;
    height: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;
    &::before {
      line-height: 1;
    }
    &.fa-eye.active {
      background: #ca1e34;
      &::before {
        color: #fff;
        content: '\f040';
      }
    }
  }
}
.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: none;
  opacity: .3;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  // transform: translateX(1em);
}
.flip-list-move {
  transition: transform 200ms;
}
