$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

.notes {
  --base: 255,153,0;
  --accent: 13,199,219;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  color: unquote('rgb(var(--base))');
  background: #fff;
  font-size: calc(.5vw + .5vh + .2vmin);
}
/*.notes * {
  box-shadow: 0 0 0 1px red;
}*/
main {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow: auto;
}
aside {
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  color: unquote('rgb(var(--base))');
  background: rgba(150,150,150,.1);
  footer {
    flex: none;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 2px solid rgba(0,0,0,.1);
  }
  ul {
    flex: 0 1 auto;
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 1em;
  }
  li {
    display: flex;
    justify-content: space-between;
    font-size: .85em;
    margin: 0;
    line-height: 1;
    border-radius: .3em;
    span {
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: .5em;
      margin-bottom: 0;
    }
    + li {
      margin-top: .5em;
    }
    &:hover {
      background: unquote('rgba(var(--base), .15)');
    }
    &.active {
      color: #fff;
      background: unquote('rgb(var(--base))');
    }
  }
}
button {
  font-size: inherit;
  line-height: 0;
  background: #fc6;
  color: #ff7042;
  border: 0;
}


input.note-title {
  font-size: 1.3em;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid;
  margin: 0;
  line-height: 1.5;
  padding: .5em 0;
  color: inherit;
}
.note-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: rgb(33,33,35);
}

.CodeMirror {
  flex: 1;
  min-height: 3em;
  border: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  pre {
    padding: .5em 0;
    line-height: 1;
  }
}
.cm-header, .cm-strong {
  font-weight: 300
}

.editor-toolbar {
  border: 0;
  background: rgba(150,150,150,.15);
  border-radius: 0 0 .2em .2em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease-in, transform .2s ease-in;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.flip-list-move {
  transition: transform 0.2s;
}

// .action-thing {
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   transform: translate(-50%, -50%);
//   background: unquote('rgb(var(--base))');
//   color: #fff;
//   border-radius: 50%;
//   font-size: 1em;
//   line-height: 1;
//   width: 3em;
//   height: 3em;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
